h1{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    color: white;
    font-size: 5rem;
    margin-left:34% ;
    
}
body{background-color: black;}

.motivation-img {
  border: 10px solid rgb(101, 101, 101);
  width: 100%;
  margin-left: 25%;
  width: 50%;
}
img{
    width: 50%;
    height: 50%;
}
p{
    color: white;
    margin-left:29%;
    font-size: 25px;
}